@page
@model RegisterModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Register";
}
<partial name="~/Areas/Identity/Pages/Account/_StatusMessageLoginRegisterPages.cshtml" model="Model.StatusMessage" />

<div class="sm:flex">
    <!-- Форма за регистриране -->
    <div class="relative lg:w-[580px] md:w-96 w-full p-10 min-h-screen bg-white shadow-xl flex items-center pt-2 z-10">
        <div class="w-full lg:max-w-md mx-auto space-y-8">
            <div>
                <h2 class="text-3xl font-bold text-center text-black mb-3">Create an account</h2>
                <p class="text-base text-black text-center">
                    Already have an account?
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-blue-600 hover:underline">Log in</a>
                </p>
            </div>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="grid grid-cols-2 gap-6">
                <div asp-validation-summary="ModelOnly" class="col-span-2 text-red-500"></div>
                
                <div class="col-span-2">
                    <label asp-for="Input.ProfilePicture" class="block text-sm font-medium text-black">Profile Picture</label>
                    <input asp-for="Input.ProfilePicture" type="file" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300 form-control" />
                    <span asp-validation-for="Input.ProfilePicture" class="text-red-500 text-sm"></span>
                </div>

                <div>
                    <label asp-for="Input.UserName" class="block text-sm font-medium text-black">Username</label>
                    <input asp-for="Input.UserName" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="username" placeholder="Enter username" />
                    <span asp-validation-for="Input.UserName" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.Email" class="block text-sm font-medium text-black">Email</label>
                    <input asp-for="Input.Email" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="email" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
                </div>
               
                <div>
                    <label asp-for="Input.Password" class="block text-sm font-medium text-black">Password</label>
                    <input asp-for="Input.Password" type="password" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="new-password" placeholder="********" />
                    <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-black">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="new-password" placeholder="********" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
                </div>
                
                <div>
                    <label asp-for="Input.FullName" class="block text-sm font-medium text-black">Full Name</label>
                    <input asp-for="Input.FullName" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="fullname" placeholder="Your full name" />
                    <span asp-validation-for="Input.FullName" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.DateOfBirth" class="block text-sm font-medium text-black">Date of Birth</label>
                    <input asp-for="Input.DateOfBirth" type="date" onclick="this.showPicker()" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" />
                    <span asp-validation-for="Input.DateOfBirth" class="text-red-500 text-sm"></span>
                </div>
               
                <div>
                    <label asp-for="Input.PhoneNumber" class="block text-sm font-medium text-black">Phone Number</label>
                    <input asp-for="Input.PhoneNumber" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="phonenumber" placeholder="Phone number" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.Country" class="block text-sm font-medium text-black">Country</label>
                    <input asp-for="Input.Country" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="country" placeholder="Country" />
                    <span asp-validation-for="Input.Country" class="text-red-500 text-sm"></span>
                </div>
                
                <div>
                    <label asp-for="Input.City" class="block text-sm font-medium text-black">City</label>
                    <input asp-for="Input.City" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="city" placeholder="City" />
                    <span asp-validation-for="Input.City" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.State" class="block text-sm font-medium text-black">State</label>
                    <input asp-for="Input.State" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="state" placeholder="State" />
                    <span asp-validation-for="Input.State" class="text-red-500 text-sm"></span>
                </div>
                
                <div class="col-span-2">
                    <label asp-for="Input.Address" class="block text-sm font-medium text-black">Address</label>
                    <input asp-for="Input.Address" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="address" placeholder="Address" />
                    <span asp-validation-for="Input.Address" class="text-red-500 text-sm"></span>
                </div>
                <div class="col-span-2">
                    <label asp-for="Input.Zip" class="block text-sm font-medium text-black">Zip Code</label>
                    <input asp-for="Input.Zip" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" autocomplete="zip" placeholder="Zip Code" />
                    <span asp-validation-for="Input.Zip" class="text-red-500 text-sm"></span>
                </div>
                
                <div class="col-span-2">
                    <button id="registerSubmit" type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white font-bold py-3 px-4 rounded-lg transition duration-200">
                        Sign up
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Слайдър с изображения -->
    <div class="flex-1 relative bg-primary max-md:hidden">
        <div class="relative w-full h-full" tabindex="-1" uk-slideshow="animation: slide; autoplay: true; autoplay-interval: 2000;">
            <ul class="uk-slideshow-items w-full h-full">
                <li class="w-full">
                    <img src="~/images/welcome/welcome-01.png" alt="Welcome image 1" class="w-full h-full object-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small z-10">
                        <div class="max-w-xl w-full mx-auto pb-32 px-5 z-30 relative">
                            <h4 class="text-white text-3xl font-bold mt-7" uk-slideshow-parallax="y:600,0,0">Join our community</h4>
                            <p class="text-white text-lg mt-4 leading-8" uk-slideshow-parallax="y:800,0,0;">
                                Sign up and start connecting with friends.
                            </p>
                        </div>
                    </div>
                    <div class="w-full h-96 bg-gradient-to-t from-black absolute bottom-0 left-0"></div>
                </li>
                <li class="w-full">
                    <img src="~/images/welcome/welcome-02.png" alt="Welcome image 2" class="w-full h-full object-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small z-10">
                        <div class="max-w-xl w-full mx-auto pb-32 px-5 z-30 relative">
                            <h4 class="text-white text-3xl font-bold mt-7" uk-slideshow-parallax="y:800,0,0">Easy Sign Up</h4>
                            <p class="text-white text-lg mt-4 leading-8" uk-slideshow-parallax="y:800,0,0;">
                                Register now and enjoy our community features.
                            </p>
                        </div>
                    </div>
                    <div class="w-full h-96 bg-gradient-to-t from-black absolute bottom-0 left-0"></div>
                </li>
            </ul>
            <div class="flex justify-center">
                <ul class="inline-flex flex-wrap justify-center absolute bottom-8 gap-1.5 uk-dotnav uk-slideshow-nav"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}