/* Dark theme настройки */
body {
    background-color: #121212; /* Тъмен фон */
    color: #e0e0e0; /* Светъл цвят на текста */
}

/* Пренаписване на .bg-white за тъмен фон */
.bg-white {
    background-color: #1e1e1e;
}

/* Пренаписване на .text-black за светъл текст */
.text-black {
    color: #ffffff;
}

/* Граница */
.border1 {
    border: 1px solid #333;
}

/* Стилизиране на placeholder‑ите */
textarea::placeholder {
    color: #888;
}

/* Допълнително стилизиране при активирана тъмна тема */
.dark textarea::placeholder {
    color: #bbb;
}

.like-tooltip {
    transition: opacity 0.2s ease-in-out;
}